/* * {
    font-family: 'Fredoka One', cursive;
} */

.first-class {
    opacity: 0.6;
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    margin-top: 2rem;
}
h1, h2 {
    font-family: 'Fredoka One', cursive;
}
.recipe-head {
    font-size: 4rem;
}
.recipe-card {
    display: flex;
    height: 35.5rem;
    padding: 3rem 1rem;
    justify-content: space-between;
}
.recipe-list {
    width: 35%;
    background-color: #f1d199;
    border-radius: 20px;
    padding-top: 1.5rem;
    /* border: 2px solid #5f5f2d; */
    display: flex;
    box-shadow: 2px 2px 10px 5px #2b2b26;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.act-icon {
    text-align: center;
    margin-top: 2rem;
    height: 2rem;
}
.searchrec {
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
}
#searchbar {
    border-radius: 5px;
    border: 2px solid tan;
}
.btn-search {
    background-color: transparent;
    position: absolute;
    top: 19px;
    right: -27px;
    border: none;
    padding: 0.5rem 2rem;
}
.btn-search:hover {
    background-color: transparent;
}
.fa-search {
    font-size: 20px;
}
.fa-search, .fa-solid {
    transition: color 0.2s;
}
.fa-search:hover {
    color: white;
}
.recipes {
    padding: 1rem;
    overflow: scroll;
}
.recipe-item {
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 0.75rem;
    background-color: #3a729c;
    color: white;
    transition: all 0.4s;
}
.recipe-item:hover {
    /* opacity: 0.8; */
    box-shadow: 3px 3px 10px #363434;
}
.new-recipe, .edit-recipe {
    position: absolute;
    display: none;
    top: 8%;
    background-color: #CDADAD;
    right: 30%;
    left: 30%;
    height: 34rem;
    box-shadow: 3px 3px 10px #363434;
    border-radius: 25px;
}
.show {
    display: block;
}
.new-recipe h2, .edit-recipe h2 {
    text-align: center;
    position: relative;
    margin-top: 1rem;
}
.fa-xmark {
    position: absolute;
    right: 10px;
    z-index: 1000;
    top: 1rem;
    transition: color 0.25s;
}
.fa-solid:hover {
    color: white;
}
.recipes .selected {
    background-color: black;
}
.fa-xmark:hover {
    color: white;
}
form {
    display: flex;
    flex-direction: column;
}
.recinp {
    padding: 1rem;
}
.directinp {
    padding: 1rem 1rem 0.25rem;
}
label, input, textarea {
    width: 100%;
}
label {
    text-align: center;
}
input, textarea {
    padding: 0.5rem;
    border-radius: 7px;
    border: 2px solid tan;
}
.recipe-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 6rem 1rem;
}
.recipe-buttons button {
    border-radius: 7px;
    border: none;
    padding: 0.5rem 2rem;
    background-color: #3a729c;
    transition: all 0.25s;
}
.recipe-buttons button:hover:not([disabled]) {
    color: white;
    box-shadow: 1px 1px 10px #363434;
}
.recipe-description {
    width: 60%;
    border-radius: 20px;
    background-color: #f1d199;
    border-radius: 20px;
    /* border: 2px solid #5f5f2d; */
    box-shadow: 2px 2px 10px 5px #2b2b26;
    /* overflow: scroll; */
}
.recipe-details {
    overflow: scroll;
    height: 19.5rem;
}
.action-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.fa-solid{
    font-size: 25px;
    margin-right: 0.75rem;
    background-color: inherit;
    cursor: pointer;
}
.recipe-name {
    align-self: center;
}
.recipe-name h1 {
    /* background-color: black; */
    color: black;
    margin-top: 0;
}
h1 {
    opacity: 1;
}
.ingred-section, .direct-section {
    padding: 1rem 2rem 1rem;
}
h2 {
    font-weight: bold;
}
.direct-section ul {
    list-style-type: disclosure-closed;
}
li {
    margin-bottom: 0.5rem;
}
.loader {
    border: 10px solid tan;
    border-top: 10px solid #3a729c;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 420px) {
    .recipe-card {
        flex-direction: column;
        height: auto;
    }
    .recipe-list, .recipe-description {
        width: 100%;
    }
    .recipe-list {
        margin-bottom: 2rem;
    }
    .new-recipe, .edit-recipe {
        left: 10%;
        right: 10%;
        height: 31rem;
    }
    .recipe-buttons {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .recinp {
        padding: 0.25rem 1rem 0.75rem;
    }
    .directinp {
        padding-top: 0.15rem;
    }
}