<div [ngClass]="{'first-class' : dialogBox}">
  <h1>Recipes for You!</h1>
  <div class="recipe-card">
    <div class="recipe-list">
      <div class="act-icon">
        <i (click)="addNewRecipe()" class="fa-solid fa-circle-plus"></i>
      </div>
      <div class="recipes">
        <div (click)="selectedRecipe(recipe)" *ngFor="let recipe of allRecipes" class="recipe-item">{{recipe.name}}</div>
      </div>

    </div>
    
    <div class="recipe-description">
      <div class="action-icons">
        <i class="fa-solid fa-pen-to-square"></i>
        <i (click)="removeRecipe(currentRecipe.id)" class="fa-solid fa-trash-can"></i>
      </div>
      <h1>{{ currentRecipe.name }}</h1>
      <div class="ingred-section">
        <h2>Ingredients</h2>
        <ul *ngFor="let ingredient of currentIngredients">
          <li>{{ ingredient }}</li>
        </ul>
      </div>
      <div class="direct-section">
        <h2>Directions</h2>
        <ul *ngFor="let direction of currentDirections">
          <li>{{ direction }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dialogBox" class="new-recipe">
  <i (click)="removeDialog()" class="fa-solid fa-xmark"></i>
  <h2>Add a new Recipe</h2>
  <form [formGroup]="recipeForm">
    <div class="p-3">
      <label for="name">Name</label>
      <input type="text" placeholder="Enter recipe name" formControlName="name">
    </div>
    <div class="p-3">
      <label for="ingredients">Ingredients</label>
      <textarea name="ingredients" cols="30" rows="6" placeholder='separate each ingredient with "*"
      Example:
      Sugar * Coffee * Lime' formControlName="ingredients"></textarea>
    </div>
    <div class="p-3">
      <label for="directions">Directions</label>
      <textarea name="directions" cols="30" rows="6" placeholder='separate each direction step with "*"
      Example:
      Boil for 5 minutes *
      Keep in a cool environment *
      Add 1/2 teaspoon of sugar
      ' formControlName="directions"></textarea>
    </div>
    <div class="recipe-buttons">
      <button (click)="submitRecipe()" [disabled]="recipeForm.invalid" type="submit">Add</button>
      <button (click)="removeDialog()" type="submit">Cancel</button>
    </div>
  </form>
</div>